.body-background {
  background-image: linear-gradient(to right, #6eda78, #ffa200);
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.gap-1 {
  margin: 0.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}