.body-background {
  background-image: linear-gradient(to right, #6eda78, #ffa200);
  min-height: 100vh;
}
.container {
  padding-left: 2.5em;
  padding-right: 2.5em;
}
a {
  text-decoration: none;
}
.gap-1 {
  margin: 0.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.px-3 {
  padding: 1.5rem;
}
.ml-4 {
  margin-left: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.justify-between {
  justify-content: space-between;
}
.container {
  max-width: 1366px;
  max-height: 768px;
  width: auto;
  height: auto;
  margin: 80px 300px 30px 300px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}